.base_nav{
    -webkit-box-shadow: 0px 14px 13px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 14px 13px -16px rgba(0,0,0,0.75);
    box-shadow: 0px 14px 13px -16px rgba(0,0,0,0.75);
    background-color: cadetblue;
}